body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    height: 36px;
    padding:5px;
    background-color: rgb(218, 75, 120);
    border: none;
    cursor: pointer;
}
p{
    background-color:chocolate;
    color:#ffffff;
    padding:10px;
    border-radius: 4px;
}